<p class="mt-3">
  As it is a library we have a couple of components inside the library. Any more components you want, you can drop in a request in the <a routerLink="/contact-page">Contact Page</a>.
</p>

<div class="row no-gutters">
  <div class="col-sm-12 col-md-4">
      <mat-list role="list">
        <mat-list-item role="listitem">
          <a routerLink="/tabbar-component">
            Tabbar
          </a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <a routerLink="/reorder-component">
            Reorder Component
          </a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <a routerLink="/listbox-component">
            Listbox
          </a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <a routerLink="/round-progress-component">
            Round Progress Bar
          </a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <a routerLink="/progress-bar-component">
            Progress Bar
          </a>
        </mat-list-item>
      </mat-list>
  </div>
</div>