<div>
  <h4 class="mb-3">EzNgLib: An easy to use, flexible angular library</h4>
  <mat-divider></mat-divider>
  <p class="mt-3">
    Developed keeping in mind, the issues, developers face, while integrating some 3rd party components / libraries.
    Some dont have the flexibility to add own template, while some dont have the option to have a callback method at every action of their component.
    These are some of the few issues addressed in this library.
  </p>
  <p class="mt-3">
    While, this library is in its conception stage, as expected, there could be many issues alongwith it. Hence, as ever helping and kind contributors, its my request to you to keep suggesting
    changes and enchancements that would drive this concept forward. Also you can directly contribute in Github if you like to. ;)
  </p>
  <p class="mt-3">
    <!-- For the time being you can mail to <a href="mailto:contact@eznglib.com?Subject=Hello%20again" target="_top">Send Mail</a> -->
    For the time being you can mail to <a href="mailto:contact@eznglib.com" target="_top">Contact @ EzNgLib</a>
  </p>
</div>