<div class="container-fluid p-0">
  <nav class="navbar navbar-dark bg-indigo">
    <a class="navbar-brand" href="#">
      EzNgLib
    </a>
  </nav>
  <div class="row no-gutters">
    <div class="left-panel">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="javascript:void[0]" routerLink="/home-page">Home</a>
        </li>
        <mat-divider></mat-divider>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void[0]" routerLink="/about-page">About</a>
        </li>
        <mat-divider></mat-divider>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void[0]" routerLink="/component-page">Components</a>
        </li>
        <mat-divider></mat-divider>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void[0]" routerLink="/contact-page">Contact</a>
        </li>
        <mat-divider></mat-divider>
      </ul>
    </div>
    <div class="right-panel p-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
